.container {
  display: flex;
  flex-flow: column;
  width: 31%;
  padding: 80px 30px 0 30px;
  background-color: var(--secondary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: var(--secondary-color); */
  transition: 0.2s ease;
  cursor: pointer;
}

.icon:hover {
  background: var(--secondary-hover-color);
}

.icon_active {
  font-size: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64D895;
  transition: 0.2s ease;
}

.search_box {
  padding-top: 47px;
  padding-bottom: 20px;
}

.form_input_tag {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_input_icon {
  border-radius: 12px 0 0 12px;
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_input_icon_span {
  padding: 20px 16px;
  font-size: 24px;
  color: #7A7A7A;
}

.form_input_tag input {
  font-family: "Montserrat";
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background-color: var(--third-color);
  border: none;
  border-radius: 0 12px 12px 0;
  max-height: 64px;
  padding: 20px 12px;
  flex-grow: 1;
}

.contacts_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact_group {
}

.contact_group ul {
  list-style-type: none;
  padding: 0;
}

.contact_group h2 {
  font-size: 24px;
  color: #333;
}

.contact_item {
  color: #474747;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.contact_item:hover {
  background-color: var(--secondary-hover-color);
}

.name_wallet {
  display: flex;
  flex-flow: column;
}

.name_wallet span {
  color: #474747;
  display: flex;
  justify-content: start;
  align-items: start;
}

.name_wallet p {
  color: #474747;
  display: flex;
  justify-content: start;
  align-items: start;
}

.more_actions {
  display: flex;
}

.more_actions .icon {
  font-size: 36px;
}