@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color: var(--bckground-color);
  font-family: "Terminator" , "GigrancheDemo.otf", "Montserrat", "Roboto", sans-serif;
}

@font-face {
  font-family: "Terminator";
  src: url("./assets/fonts/TERMINAT.TTF") format("truetype");
}

@font-face {
  font-family: "Gigranche Demo";
  src: url("./assets/fonts/GigrancheDemo.otf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");  
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  /* text-align: center; */
  background: linear-gradient(135deg, var(--bckground-color) 60%, rgba(166, 253, 185, 0.3) 90%, #A6FDB9 100%);
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  /* Dark mode colors */
  --text-color: #FFFFFF;
  --subheading-color: #A6FDB9;
  --placeholder-color: #707070;
  --bckground-color: #242424;
  --primary-color: #000000;
  --secondary-color: #141414;
  --secondary-hover-color: #4C4C4C75;
  --third-color: #FFFFFF3D;
  --form-color: #1C1B1BD4;
  --button-color: #89FCAE;
  --button-hover-color: #64D895;
  --button-active-color: #64D895;
  --button-text-color: #0A0A0A;
}

.light_mode {
  /* Light mode colors */
  --text-color: #141414;
  --subheading-color: #A6FDB9;
  --placeholder-color: #707070;
  --bckground-color: #FFFFFF;
  --primary-color: #FFFFFF;
  --secondary-color: #EBEBEB;
  --secondary-hover-color: #B8B8B8;
  --third-color: #C2C2C2;
  --form-color: #EBEBEB;
  --button-color: #1F1F1F;
  --button-hover-color: #333333;
  --button-active-color: #E0E0E0;
  --button-text-color: #45B57F;
}

h1 {
  font-family: "Terminator";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--subheading-color);
}

h3 {
  font-family: "Terminator";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--subheading-color);
}

span {
  font-family: "Gigranche Demo";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
}

p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--text-color);
  margin: 0;
}

label {
  font-family: "Gigranche Demo";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #5C5C5C;
}

button {
  color: var(--button-text-color);
  background-color: var(--button-color);
  font-family: "Gigranche Demo";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  border: 0;
  cursor: pointer;
}

input {
  font-family: "Montserrat";
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 0 12px 12px 0;
  max-height: 64px;
  padding: 20px 12px;
  flex-grow: 1;
}

button:hover {
  background-color: var(--button-hover-color);
}

button:active {
  background-color: #E0E0E0;
  color: #C2C2C2;
}

.material-symbols-rounded {
  color: #5C5C5C;
}
